
.project-area > .container > .row{
    padding-bottom:30px;
}
.space-top{
    margin-top:30px;
}
.project-image > img{
    width: 100%;
}
.about-content-text > p{
    font-size: 16px !important;
}
svg{
    fill: #2C88D9;
}
.btn-back{
    color: #2C88D9;
    font-size: 18px;
    font-weight: bold;
}
.home-btn-custom{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: #B2ACFA;
    color: #6558F5;
    font-size: 40px;
}
.home-btn-custom:hover{
    background-color: #6558F5;
    color: #B2ACFA;
	transition: .6s;
}